<div class="homepage-container">
    <mat-card>
      <mat-card-title>Welcome to Mock Training App</mat-card-title>
      <mat-card-content>
        <p>Track your training progress with ease. Log your workouts, monitor progress, and achieve your fitness goals.</p>
      </mat-card-content>
      <mat-card-actions class="button-actions">
        <button mat-raised-button color="accent" routerLink="/training/new">Add Training</button>
        <button mat-raised-button color="primary" routerLink="/training/overview">View Trainings</button>
      </mat-card-actions>
    </mat-card>
  </div>
  