#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

mat-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

mat-form-field {
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

app-training-type-select {
    width: 100%;
}
