.month-select-table-container {
    margin: 20px;
  }
  
  #overview {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
  }

  mat-card {
    width: 80%;
  }

  table {
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-form-field {
    width: 30%;
  }

  .filters {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }