<div id="overview">
    <mat-card>
      <mat-card-content id="form">

        <div class="filters">
          <mat-form-field appearance="outline">
            <mat-label>Select Month</mat-label>
            <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onMonthChange($event)">
              <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Select Year</mat-label>
            <input placeholder="Select year" matInput type="number" [(ngModel)]="selectedYear" min="2000" max="2030" step="1" (change)="onYearChange()">
          </mat-form-field>
        </div>
        
  
        <mat-table [dataSource]="weekData">
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef> Week start </mat-header-cell>
            <mat-cell *matCellDef="let week"> {{week.startDate.toLocaleDateString()}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef> Week end</mat-header-cell>
            <mat-cell *matCellDef="let week"> {{week.endDate.toLocaleDateString()}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="totalTrainings">
            <mat-header-cell *matHeaderCellDef> Total Trainings </mat-header-cell>
            <mat-cell *matCellDef="let week"> {{week.totalTrainings}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="totalDuration">
            <mat-header-cell *matHeaderCellDef> Total Duration </mat-header-cell>
            <mat-cell *matCellDef="let week"> {{week.totalDuration}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="averageDifficulty">
            <mat-header-cell *matHeaderCellDef> Average Difficulty </mat-header-cell>
            <mat-cell *matCellDef="let week"> {{week.averageDifficulty}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="averageTiredness">
            <mat-header-cell *matHeaderCellDef> Average Tiredness </mat-header-cell>
            <mat-cell *matCellDef="let week"> {{week.averageTiredness}} </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
  